.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap
}

.col {
    flex: 1 1 0;
    padding: 10px;
}

ol li {
    padding-bottom: 10px;
}

.svg {
    display: block;
    margin: 0 auto;
}

#statusText {
    display: block;
    margin: 0 auto;
    text-align: center;
}